In [ ]:
import pandas as pd
import numpy as np

In [60]:
dict = {
    2017: {"nan": "07/15/2017",
           "July, 2017": "07/15/2017"},
    2018: {"nan": "07/01/2018"}
       }

In [65]:
dict[2018]["nan"]

'07/01/2018'

In [55]:
df = pd.DataFrame({'Date': ["06/01/2016", "nan", "July, 2017", "nan", "06/05/2019"],
                   'Year': [2016, 2017, 2017, 2018, 2019],
                   'Value': [10, 5,  15, 10, 20]})

In [56]:
df

         Date  Year  Value
0  06/01/2016  2016     10
1         nan  2017      5
2  July, 2017  2017     15
3         nan  2018     10
4  06/05/2019  2019     20

In [66]:
df['Date_cln'] = df.apply(lambda row: dict[row.Year][row.Date] if row.Year in dict.keys() else row.Date, axis=1)

In [67]:
df

         Date  Year  Value    Date_cln
0  06/01/2016  2016     10  06/01/2016
1         nan  2017      5  07/15/2017
2  July, 2017  2017     15  07/15/2017
3         nan  2018     10  07/01/2018
4  06/05/2019  2019     20  06/05/2019

In [69]:
df['Date_cln'] = pd.to_datetime(df['Date_cln'])

In [71]:
df.dtypes

Date                object
Year                 int64
Value                int64
Date_cln    datetime64[ns]
dtype: object